/* General form input styles */
.form-input,
.form-textarea {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

/* Focused form input styles */
.form-input:focus,
.form-textarea:focus {
  background-color: #fff;
  border-color: #4a90e2;
  outline: none;
}

/* Editable fields styles */
.editable-field {
  display: flex;
  align-items: center;
}

.editable-field label {
  width: 100px;
  font-weight: bold;
  margin-right: 8px;
}

.editable-field input,
.editable-field textarea {
  flex: 1;
}

.editable-field textarea {
  resize: vertical;
}

/* Ensure list icons are displayed */
#ingredients-list {
  list-style-type: disc;
  list-style-position: inside;
}

#ingredients-list li.list-item {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 1em; /* Ensure there is space for the marker */
}

#ingredients-list li.list-item::before {
  content: '•'; /* Custom marker, as default list-style is overridden by flex */
  position: absolute;
  left: 0;
  font-size: 1.2em; /* Adjust marker size if needed */
  color: #333;
}

/* Mobile layout adjustments */
@media (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Hide horizontal overflow to prevent scrolling */
  }

  #card1,
  #card2,
  #card3,
  #card4,
  #card5 {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .grid-item h3 {
    background: white; /* Ensure the header is visible */
    padding: 0.5rem;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem 0.5rem 0 0;
    z-index: 2;
  }

  #card1 {
    top: 130px;
  }

  #card2 {
    top: 200px; /* Adjust this value to control the sticky position */
  }

  #card3 {
    top: 270px; /* Adjust this value to control the sticky position */
  }

  #card4 {
    top: 340px; /* Adjust this value to control the sticky position */
  }

  #card5 {
    top: 410px; /* Adjust this value to control the sticky position */
  }
}

/* Card tilt styles */
#card1,
#card2,
#card3,
#card4,
#card5 {
  transition: transform 0.3s ease;
  border: 1px solid #d3d3d3; /* Light gray border to simulate paper edges */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  background-size: cover; /* Ensure texture covers entire card */
  border-radius: 8px; /* Slight rounding of corners to enhance paper effect */
}

#card1:hover .card-hover-transform {
  transform: translateY(-10px) rotate(15deg);
}

#card2:hover .card-hover-transform {
  transform: translateY(-10px) rotate(-15deg);
}

#card3:hover .card-hover-transform {
  transform: translateY(-10px) rotate(15deg);
}

#card4:hover .card-hover-transform {
  transform: translateY(-10px) rotate(-15deg);
}

#card5:hover .card-hover-transform {
  transform: translateY(-10px) rotate(15deg);
}
