.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.shadow-none {
  box-shadow: none !important;
}

.transition-all {
  transition: all 0.5s ease-in-out;
}

.form-sticky {
  position: fixed;
  top: 150px;
  left: 0;
  right: 0;
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 20px 0 0 0 !important;
  transition: all 0.5s ease-in-out;
}

.bg-opacity {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.05),
    rgb(255, 255, 255, 1)
  );
  transition: background-color 0.5s;
}

.initial-form-position {
  transition: all 0.5s ease-in-out;
}
