.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* .bg-transparent {
  background-color: transparent !important;
} */

.shadow-none {
  box-shadow: none !important;
}

.transition-all {
  transition: all 0.5s ease-in-out;
}

.form-sticky {
  position: fixed;
  top: 150px;
  left: 0;
  right: 0;
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 20px 0 0 0 !important;
  transition: all 0.5s ease-in-out;
}

.initial-form-position {
  transition: all 0.5s ease-in-out;
}

.fixed-button {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
}

.fixed-button:hover {
  background-color: #ff4500;
}
